/* Estilos para el contenedor del carrito */
#carrito-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    margin: 20px 0px 0px 300px; /* Ajusta este margen según tu diseño */
    max-width: 73%; /* Ajusta el ancho máximo según tu diseño */
    background-color: rgba(83, 93, 202, 0.5);
    border-radius: 5px;
}

/* Estilos para cada artículo del carrito */
.producto-carrito {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s;
}

.producto-carrito:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para la imagen del producto en el carrito */
.producto-carrito img {
    width: 100%; /* La imagen se adapta al ancho del contenedor */
    height: 100px; /* Altura fija para todas las imágenes */
    object-fit: contain; /* La imagen se recorta para llenar el contenedor y mantener la proporción */
    border-radius: 8px; /* Opcional: bordes redondeados */
}

.producto-info-carrito {
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.pago{
    margin-left: 300px;
    height: 50px;
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #8068fa;
    color: white;
}


.pago:hover {
    background-color: #5742c2;

}
